/* Estilos para las cajas y ver los efectos */
.contenedor,
.contenedor-padre,
.contenedor-scroll,
.contenedor-zindex{
    border: 2px solid black;
    margin: 20px 0;
    padding: 10px;
}

.caja,
.hijo-absolute,
.boton-fixed,
.elemento-sticky,
.capa {
    border: 2px solid brown;
    padding: 10px;
}

/* Position Relative
    jugando con la caja relativa
*/
.caja-relative {
    /* Este deja su espacio y los demas hermanod
    lo recordaran y respetaran aunque el se alla movido */
    position: relative;
    top: 20px;
    left: 30px;
}



/* Position Absolute
    jugando
*/

.contenedor-padre{
    /* debe tener un positio fixed o relative el padre 
    el hijo usara el absolute*/
    position: relative;
    height: 100px;
}

.hijo-absolute {
    /* los demas hijos no recordaran el espacio
    de este otro hijo que pasa a absolute */
    position:absolute; 
    top: 10px;
    right: 10px;
}


/* Position Fixed

*/
.boton-fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;
}


/* Position Sticky

*/

.contenedor-scroll{
    height: 150px;
    overflow-y: auto;
}

.elemento-sticky {
    position: sticky;
    top: 0; /*este segun el contenedor padre en este caso contenedor-scroll jugar
    con 50px 80px y ver el resultado */
}


/* Position z-index 

*/

.contenedor-zindex {
    position: relative;
    height: 180px;
}

.capa {
    position: absolute;
    height: 50px;

}

.capa-1{
    background-color: burlywood;
    z-index: 1;
    top: 20px;
    left: 30px;
}

.capa-2{
    background-color: blueviolet;
    z-index: 2;
    top: 60px;
    left: 50px;
}

.capa-3 {
    background-color: tomato;
    z-index: 3;
    top: 100px;
    left: 70px;
}