/* Alineacion del Texto */
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
    line-height: 1.2;
}

/* Transformacion del Texto */
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
    background-color: burlywood;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.no-underline {
    text-decoration: none;
}

.indent {
    text-indent: 2rem;
}