div {
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 60px;

}

/* No se puede dar direccion */
.linear-simple {
    background: linear-gradient(#3498db,#9b59b6);
}

/* Se puede dar una direcion derecha, izquierda , arriba y abajo */
.linear-direction {
    background: linear-gradient(to bottom, #e74c3c,#f39c12);
}

/* Se puede dar direccion y de forma diagonal
en este codigo seria hacia abajo a la derecha 
*/
.linear-diagonal {
    background:linear-gradient(to bottom right,#2ecc71,#3498db);
}

.radial-simple {
    background:radial-gradient(circle,#3498db,#9b59b6);
}

.radial-position {
    background: radial-gradient(at top left,#2ecc71,#3498db);
}

.multiple {
    background: linear-gradient(to right,red,#3498db,#9b59b6,#2ecc71,#f39c12);
}